body {overflow-x:hidden;}
.box {width:100px; height:100px; background-color:#000;}

/*a-1 Animation*/
/*This one has been completed for you. Use it as an example to complete the others*/
	@keyframes fadeBackground {
		0% {background-color:red;}
		50% {background-color:white;}
		100% {background-color:blue;}
	}

	.a-1 .box {animation:fadeBackground 3s linear 0s infinite;}

/*a-2 Animation*/


/*a-3 Animation*/

